/com.agit.crm.util/target/
/com.agit.crm.shared/target/
/com.agit.crm.common/target/
/com.agit.crm.user.management/target/
/com.agit.crm.main/target/
/com.agit.crm.core/target/
/com.agit.crm.masterdata/target/
/com.agit.crm.infrastrucrture/target/
/com.agit.crm.infrastrucrture/com.agit.crm.infrastructure.hibernate/target/
/com.agit.crm.infrastrucrture/com.agit.crm.infrastructure.component/target/
/com.agit.crm.script/target/
/com.agit.crm.event/target/
/com.agit.crm.infrastrucrture/com.agit.crm.infrastructure.notification/target/
/com.agit.crm.infrastrucrture/com.agit.crm.infrastructure.report/target/
/com.agit.crm.bpm.api/target/
/com.agit.crm.bpm/target/
/com.agit.crm.acm.api/target/
/com.agit.chat/target/
/com.agit.crm.chat/target/